
NEXT_PUBLIC_THIRDWEB_CLIENT_ID=19c2a1fad3b2b5c518f3b498a8dce25a
DATABASE_URL=postgresql://authentico_user:password@db:5432/authentico_users
BACKEND_URL=http://user-service:3003
export PRIVATE_KEY='59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412'
REACT_APP_BACKEND_BASE_URL_2= http://localhost:666
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJlZjc2ZTIzNy00YTBmLTQ0ODQtYjcxOC01YjBkZmE1YjRlNGIiLCJlbWFpbCI6ImJvcm4yY29kZTI2NUBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiOTA4YTY1NWRhY2ZmOTBlNGVhN2QiLCJzY29wZWRLZXlTZWNyZXQiOiJmZDBlMjU2ZTY1YTRjNGQ0Y2ZjNmRjYTFhMTQzZDg4MGYyYTVhZmE4MTEzNmVmZDU1NTlhMmNhZGUzZmNlN2I1IiwiZXhwIjoxNzcxNzcxMTY3fQ.a88wzEUwAl5W80kF9XyFZe47UsYj6oPbWBGK3yteouM