
NEXT_PUBLIC_THIRDWEB_CLIENT_ID=19c2a1fad3b2b5c518f3b498a8dce25a
DATABASE_URL=postgresql://authentico_user:password@db:5432/authentico_users
BACKEND_URL=http://user-service:3003
export PRIVATE_KEY='59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412'
REACT_APP_BACKEND_BASE_URL_2= http://localhost:666